### Упражнение 1

* Скачайте с портала Открытых Данных производственный календарь России: https://data.gov.ru/opendata/7708660670-proizvcalendar
* На его основе определите соответствующий календарь в Pandas: `RussianBusinessCalendar(AbstractHolidayCalendar)`
* С помощью полученного в пункте выше календаря и модуля `pd.offsets` создайте DataFrame one-hot календарных признаков:
    * День недели
    * Месяц
    * Выходной день
    * Праздничный день
    * Предпраздничный рабочий день
    * Последний день месяца
    * Последний рабочий день месяца
    * Предновогодний выходной день

In [ ]:
# пример требуемого DataFrame 
events

,выходной,праздник,предпраздничный рабочий день,последний день месяца,последний рабочий день месяца,пн,вт,ср,чт,пт,сб,вс,январь,февраль,март,апрель,май,июнь,июль,август,сентябрь,октябрь,ноябрь,декабрь,Предновогодний выходной день
2014-01-01,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2014-01-02,1,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2014-01-03,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2014-01-04,1,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2014-01-05,1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving data-20191112T1252-structure-20191112T1247.csv to data-20191112T1252-structure-20191112T1247.csv
User uploaded file "data-20191112T1252-structure-20191112T1247.csv" with length 10689 bytes

In [ ]:
data = pd.read_csv('data-20191112T1252-structure-20191112T1247.csv', sep =',', encoding='latin1')

In [ ]:
data.columns = ['Год',"Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь","Всего рабочих дней","Всего праздничных и выходных дней","Количество рабочих часов при 40-часовой рабочей неделе","Количество рабочих часов при 36-часовой рабочей неделе","Количество рабочих часов при 24-часовой рабочей неделе"]

In [ ]:
data

                                      Январь  ... Количество рабочих часов при 24-часовой рабочей неделе
Год                                           ...
1999     1,2,3,4,6*,7,9,10,16,17,23,24,30,31  ...                                             1204.8
2000      1,2,3,4,6*,7,8,9,15,16,22,23,29,30  ...                                             1200.0
2001             1,2,6,7,8,13,14,20,21,27,28  ...                                             1204.8
2002             1,2,5,6,7,12,13,19,20,26,27  ...                                             1192.0
2003          1,2,3,5*,6,7,11,12,18,19,25,26  ...                                             1192.0
2004       1,2,3,4,6*,7,10,11,17,18,24,25,31  ...                                             1200.8
2005  1,2,3,4,5,6,7,8,9,10,15,16,22,23,29,30  ...                                             1187.4
2006     1,2,3,4,5,6,7,8,9,14,15,21,22,28,29  ...                                             1187.4
2007       1,2,3,4,5,6,7,8,13,14,20,21,27,28  ...                                             1189.2
2008       1,2,3,4,5,6,7,8,12,13,19,20,26,27  ...                                             1193.0
2009     1,2,3,4,5,6,7,8,9,10,17,18,24,25,31  ...                                             1190.2
2010  1,2,3,4,5,6,7,8,9,10,16,17,23,24,30,31  ...                                             1190.2
2011  1,2,3,4,5,6,7,8,9,10,15,16,22,23,29,30  ...                                             1187.4
2012     1,2,3,4,5,6,7,8,9,14,15,21,22,28,29  ...                                             1189.2
2013       1,2,3,4,5,6,7,8,12,13,19,20,26,27  ...                                             1179.6
2014       1,2,3,4,5,6,7,8,11,12,18,19,25,26  ...                                             1179.6
2015  1,2,3,4,5,6,7,8,9,10,11,17,18,24,25,31  ...                                             1180.6
2016  1,2,3,4,5,6,7,8,9,10,16,17,23,24,30,31  ...                                             1183.6
2017       1,2,3,4,5,6,7,8,14,15,21,22,28,29  ...                                             1182.6
2018       1,2,3,4,5,6,7,8,13,14,20,21,27,28  ...                                             1179.6
2019       1,2,3,4,5,6,7,8,12,13,19,20,26,27  ...                                             1179.6
2020       1,2,3,4,5,6,7,8,11,12,18,19,25,26  ...                                             1185.4
2021  1,2,3,4,5,6,7,8,9,10,16,17,23,24,30,31  ...                                             1190.2
2022     1,2,3,4,5,6,7,8,9,15,16,22,23,29,30  ...                                             1192.2
2023       1,2,3,4,5,6,7,8,14,15,21,22,28,29  ...                                             1191.6
2024       1,2,3,4,5,6,7,8,13,14,20,21,27,28  ...                                             1194.0
2025       1,2,3,4,5,6,7,8,11,12,18,19,25,26  ...                                             1189.2

[27 rows x 17 columns]

Для календаря 2021 года, определим праздничные дни, так как они не все указаны в загруженном файле

In [ ]:
holidays = [pd.to_datetime('01.01.2021'),
            pd.to_datetime('01.04.2021'),
            pd.to_datetime('01.05.2021'),
            pd.to_datetime('01.06.2021'),
            pd.to_datetime('01.07.2021'),
            pd.to_datetime('01.08.2021'),
            pd.to_datetime('02.22.2021'),
            pd.to_datetime('02.23.2021'),
            pd.to_datetime('03.08.2021'),
            pd.to_datetime('05.03.2021'),
            pd.to_datetime('05.10.2021'),
            pd.to_datetime('06.14.2021'),
            pd.to_datetime('11.04.2021'),
            pd.to_datetime('11.05.2021'),
            pd.to_datetime('12.31.2021')]

In [ ]:
# кастомизация календаря на 2021 год
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday,\
nearest_workday, EasterMonday
from pandas.tseries.offsets import DateOffset, Day

class RussianBusinessCalendar(AbstractHolidayCalendar):
    start_date = datetime.datetime(2021, 1, 1)
    end_date = datetime.datetime(2021, 12, 31)
    
workday_2021 = pd.offsets.CustomBusinessDay(weekmask='Mon Tue Wed Thu Fri', 
                                              calendar=RussianBusinessCalendar(),
                                              holidays = holidays)

In [ ]:
#Вставляем столбец 'выходной' с данными
columns = ['Выходной']
dti = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
calendar2021 = pd.DataFrame(index=dti, columns=columns)
wdti = pd.bdate_range('2021-01-01', '2021-12-31', freq='C',
                      weekmask='Mon Tue Wed Thu Fri', holidays=holidays) # Рабочие дни в 2021
for day in calendar2021.index:
    calendar2021['Выходной'][day] = int(day not in wdti)

In [ ]:
#Вставляем столбец 'Праздник' с данными
calendar2021['Праздник'] = np.nan
for day in holidays:
    calendar2021['Праздник'][day] = 1
calendar2021['Праздник'].fillna(0, inplace = True)
calendar2021.astype({"Праздник": int})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

           Выходной  Праздник
2021-01-01        1         1
2021-01-02        1         0
2021-01-03        1         0
2021-01-04        1         1
2021-01-05        1         1
...             ...       ...
2021-12-27        0         0
2021-12-28        0         0
2021-12-29        0         0
2021-12-30        0         0
2021-12-31        1         1

[365 rows x 2 columns]

In [ ]:
#Вставляем столбец 'Предпраздничный рабочий день' с данными
pre_holiday_work_day =[pd.to_datetime('04.30.2021'),
                       pd.to_datetime('06.11.2021'),
                       pd.to_datetime('11.03.2021')]
calendar2021['Предпраздничный рабочий день'] = np.nan
for day in pre_holiday_work_day:
    calendar2021['Предпраздничный рабочий день'][day] = 1
calendar2021['Предпраздничный рабочий день'].fillna(0, inplace = True)
calendar2021.astype({'Предпраздничный рабочий день': int})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

           Выходной  Праздник  Предпраздничный рабочий день
2021-01-01        1       1.0                             0
2021-01-02        1       0.0                             0
2021-01-03        1       0.0                             0
2021-01-04        1       1.0                             0
2021-01-05        1       1.0                             0
...             ...       ...                           ...
2021-12-27        0       0.0                             0
2021-12-28        0       0.0                             0
2021-12-29        0       0.0                             0
2021-12-30        0       0.0                             0
2021-12-31        1       1.0                             0

[365 rows x 3 columns]

In [ ]:
#Вставляем столбец 'последний день месяца' с данными
calendar2021['Последний день месяца'] = np.nan
for day in calendar2021.index:
    calendar2021['Последний день месяца'][day] = int(day.is_month_end)
calendar2021.astype({'Последний день месяца': int})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

           Выходной  ...  Последний день месяца
2021-01-01        1  ...                      0
2021-01-02        1  ...                      0
2021-01-03        1  ...                      0
2021-01-04        1  ...                      0
2021-01-05        1  ...                      0
...             ...  ...                    ...
2021-12-27        0  ...                      0
2021-12-28        0  ...                      0
2021-12-29        0  ...                      0
2021-12-30        0  ...                      0
2021-12-31        1  ...                      1

[365 rows x 4 columns]

In [ ]:
#Вставляем столбец 'Последний рабочий день месяца' с данными
last_month_day = []
for day in calendar2021.index:
    if day.is_month_end:
        last_month_day.append(day) # Список последних дней месяца

last_month_day = pd.to_datetime(last_month_day)
last_work_month_day = last_month_day - workday_2021 # переместить на последний рабочий день

/usr/local/lib/python3.7/dist-packages/pandas/core/arrays/datetimes.py:694: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  PerformanceWarning,

In [ ]:
calendar2021['Последний рабочий день месяца'] = np.nan
for day in last_work_month_day:
    calendar2021['Последний рабочий день месяца'][day] = 1
calendar2021['Последний рабочий день месяца'].fillna(0, inplace = True)
calendar2021.astype({'Последний рабочий день месяца': int})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           Выходной  ...  Последний рабочий день месяца
2021-01-01        1  ...                              0
2021-01-02        1  ...                              0
2021-01-03        1  ...                              0
2021-01-04        1  ...                              0
2021-01-05        1  ...                              0
...             ...  ...                            ...
2021-12-27        0  ...                              0
2021-12-28        0  ...                              0
2021-12-29        0  ...                              0
2021-12-30        0  ...                              1
2021-12-31        1  ...                              0

[365 rows x 5 columns]

In [ ]:
#Вставляем столбцы дни недели с данными
weekday = calendar2021.index.day_name()
week_day = pd.get_dummies(weekday)
calendar2021['Пн'] = week_day['Monday'].values
calendar2021['Вт'] = week_day['Tuesday'].values
calendar2021['Ср'] = week_day['Wednesday'].values
calendar2021['Чт'] = week_day['Thursday'].values
calendar2021['Пт'] = week_day['Friday'].values
calendar2021['Сб'] = week_day['Saturday'].values
calendar2021['Вс'] = week_day['Sunday'].values

In [ ]:
#Вставляем столбцы месяцы с данными
month = calendar2021.index.month_name()
month_name = pd.get_dummies(month)
calendar2021['Январь'] = month_name['January'].values
calendar2021['Февраль'] = month_name['February'].values
calendar2021['Март'] = month_name['March'].values
calendar2021['Апрель'] = month_name['April'].values
calendar2021['Май'] = month_name['May'].values
calendar2021['Июнь'] = month_name['June'].values
calendar2021['Июль'] = month_name['July'].values
calendar2021['Август'] = month_name['August'].values
calendar2021['Сентябрь'] = month_name['September'].values
calendar2021['Октябрь'] = month_name['October'].values
calendar2021['Ноябрь'] = month_name['November'].values
calendar2021['Декабрь'] = month_name['December'].values

In [ ]:
#Вставляем столбец 'Предновогодний выходной день'  с данными
calendar2021['Предновогодний выходной день'] = np.nan
calendar2021['Предновогодний выходной день']['31.12.2021'] = 1
calendar2021['Предновогодний выходной день'].fillna(0, inplace = True)
calendar2021.astype({'Предновогодний выходной день': int})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

           Выходной  Праздник  ...  Декабрь  Предновогодний выходной день
2021-01-01        1       1.0  ...        0                             0
2021-01-02        1       0.0  ...        0                             0
2021-01-03        1       0.0  ...        0                             0
2021-01-04        1       1.0  ...        0                             0
2021-01-05        1       1.0  ...        0                             0
...             ...       ...  ...      ...                           ...
2021-12-27        0       0.0  ...        1                             0
2021-12-28        0       0.0  ...        1                             0
2021-12-29        0       0.0  ...        1                             0
2021-12-30        0       0.0  ...        1                             0
2021-12-31        1       1.0  ...        1                             1

[365 rows x 25 columns]

### Упражнение 2

* Для временного ряда курса акций Сбербанка на основе производственного календаря России сформируйте DataFrame признаков:
    * Лаговые переменные рабочих дней с глубинами: 1, 3, 5
    * Скользящие статистики `['mean', 'median', 'max', 'min', 'std'] ` с окнами 1, 3, 5 сгрупированные по дням недели
    * Статистики `['mean', 'median', 'max', 'min', 'std'] ` в расширяющемся окне сгруппированные по рабочим, праздничным и предпраздничным дням

In [1]:
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving sber_stocks.csv to sber_stocks.csv
User uploaded file "sber_stocks.csv" with length 283932 bytes

In [3]:
ts = pd.read_csv('sber_stocks.csv', usecols=['CLOSE', 'TRADEDATE'], 
                 index_col='TRADEDATE', parse_dates=True)
ts = ts.CLOSE

In [4]:
df_ts = pd.DataFrame(ts.asfreq('1D').fillna(method='ffill'))
df_ts['weekday'] = df_ts.index.weekday
df_ts.head()

            CLOSE  weekday
TRADEDATE
2013-03-25  98.79        0
2013-03-26  97.20        1
2013-03-27  96.75        2
2013-03-28  98.59        3
2013-03-29  98.76        4

In [5]:
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday, nearest_workday, EasterMonday
from pandas.tseries.offsets import DateOffset, Day

class RussianBusinessCalendar(AbstractHolidayCalendar):
    start_date = datetime.datetime(2013, 3, 25)
    end_date = datetime.datetime(2020, 1, 10)
    rules = [Holiday('Пр1', month = 1, day = 1), 
             Holiday('Пр2', month = 1, day = 2), 
             Holiday('Пр3', month = 1, day = 3), 
             Holiday('Пр4', month = 1, day = 4), 
             Holiday('Пр5', month = 1, day = 5), 
             Holiday('Пр6', month = 1, day = 6), 
             Holiday('Пр7', month = 1, day = 7), 
             Holiday('Пр8', month = 1, day = 8), 
             Holiday('Пр9', month = 2, day = 23), 
             Holiday('Пр10', month = 3, day = 8), 
             Holiday('Пр11', month = 5, day = 1), 
             Holiday('Пр12', month = 5, day = 9), 
             Holiday('Пр13', month = 6, day = 12), 
             Holiday('Пр14', month = 11, day = 4)]
russian_busday = pd.offsets.CustomBusinessDay(weekmask='Mon Tue Wed Thu Fri', 
                                              calendar=RussianBusinessCalendar())

Лаговые переменные рабочих дней с глубинами: 1, 3, 5

In [6]:
sh1 = ts.asfreq('1D').fillna(method='ffill').shift(1, freq=russian_busday)
sh3 = ts.asfreq('1D').fillna(method='ffill').shift(3, freq=russian_busday)
sh5 = ts.asfreq('1D').fillna(method='ffill').shift(5, freq=russian_busday)

/usr/local/lib/python3.7/dist-packages/pandas/core/arrays/datetimes.py:694: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  PerformanceWarning,

In [10]:
final = df_ts.merge(sh1, how = 'left', left_index=True, right_index = True)
final = final.merge(sh3, how = 'left', left_index=True, right_index = True)
final = final.merge(sh5, how = 'left', left_index=True, right_index = True)
final.columns = ['CLOSE', 'Weekday', 'Shift1', 'Shift3', 'Shift5']
final.head()

            CLOSE  Weekday  Shift1  Shift3  Shift5
TRADEDATE
2013-03-25  98.79        0     NaN     NaN     NaN
2013-03-26  97.20        1   98.79     NaN     NaN
2013-03-27  96.75        2   97.20     NaN     NaN
2013-03-28  98.59        3   96.75   98.79     NaN
2013-03-29  98.76        4   98.59   97.20     NaN

Скользящие статистики ['mean', 'median', 'max', 'min', 'std'] с окнами 1, 3, 5 сгрупированные по дням недели

In [8]:
#Среднее
roll_1_mean = df_ts.groupby('weekday')['CLOSE'].rolling(window=1).mean().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])

roll_3_mean = df_ts.groupby('weekday')['CLOSE'].rolling(window=3).mean().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])

roll_5_mean = df_ts.groupby('weekday')['CLOSE'].rolling(window=5).mean().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])
#Медиана
roll_1_median = df_ts.groupby('weekday')['CLOSE'].rolling(window=1).median().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])

roll_3_median = df_ts.groupby('weekday')['CLOSE'].rolling(window=3).median().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])

roll_5_median = df_ts.groupby('weekday')['CLOSE'].rolling(window=5).median().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])
#max
roll_1_max = df_ts.groupby('weekday')['CLOSE'].rolling(window=1).max().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])

roll_3_max = df_ts.groupby('weekday')['CLOSE'].rolling(window=3).max().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])

roll_5_max = df_ts.groupby('weekday')['CLOSE'].rolling(window=5).max().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])
#min
roll_1_min = df_ts.groupby('weekday')['CLOSE'].rolling(window=1).min().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])

roll_3_min = df_ts.groupby('weekday')['CLOSE'].rolling(window=3).min().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])

roll_5_min = df_ts.groupby('weekday')['CLOSE'].rolling(window=5).min().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])
#std
roll_1_std = df_ts.groupby('weekday')['CLOSE'].rolling(window=1).std().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])

roll_3_std = df_ts.groupby('weekday')['CLOSE'].rolling(window=3).std().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])

roll_5_std = df_ts.groupby('weekday')['CLOSE'].rolling(window=5).std().\
shift(1).reset_index().set_index(['TRADEDATE']).drop(columns = ['weekday'])

In [11]:
final = final.merge(roll_1_mean, how='left', left_index=True, right_index=True)
final = final.merge(roll_3_mean, how='left', left_index=True, right_index=True)
final = final.merge(roll_5_mean, how='left', left_index=True, right_index=True)
final = final.merge(roll_1_median, how='left', left_index=True, right_index=True)
final = final.merge(roll_3_median, how='left', left_index=True, right_index=True)
final = final.merge(roll_5_median, how='left', left_index=True, right_index=True)
final = final.merge(roll_1_max, how='left', left_index=True, right_index=True)
final = final.merge(roll_3_max, how='left', left_index=True, right_index=True)
final = final.merge(roll_5_max, how='left', left_index=True, right_index=True)
final = final.merge(roll_1_min, how='left', left_index=True, right_index=True)
final = final.merge(roll_3_min, how='left', left_index=True, right_index=True)
final = final.merge(roll_5_min, how='left', left_index=True, right_index=True)
final = final.merge(roll_1_std, how='left', left_index=True, right_index=True)
final = final.merge(roll_3_std, how='left', left_index=True, right_index=True)
final = final.merge(roll_5_std, how='left', left_index=True, right_index=True)
final.columns = ['CLOSE', 'Weekday', 'Shift1', 'Shift3', 'Shift5','roll_1_mean',
                 'roll_3_mean', 'roll_5_mean', 'roll_1_median', 'roll_3_median',
                 'roll_5_median', 'roll_1_max', 'roll_3_max', 'roll_5_max',
                 'roll_1_min', 'roll_3_min', 'roll_5_min', 'roll_1_std', 
                 'roll_3_std', 'roll_5_std']
final.head()

            CLOSE  Weekday  Shift1  ...  roll_1_std  roll_3_std  roll_5_std
TRADEDATE                           ...
2013-03-25  98.79        0     NaN  ...         NaN         NaN         NaN
2013-03-26  97.20        1   98.79  ...         NaN    3.218048    7.757897
2013-03-27  96.75        2   97.20  ...         NaN    3.292461    7.442777
2013-03-28  98.59        3   96.75  ...         NaN    5.594882    7.378934
2013-03-29  98.76        4   98.59  ...         NaN    4.965551    7.114255

[5 rows x 20 columns]